*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.pagina-principal{
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
body{
    background-color:#E5E5E5;
    font-family: 'Roboto', sans-serif;
}
.pop1 , .pop2{
    width: 432px;
    height: 389px;
    margin-top: 30px;
    background: #fff;
    border-radius: 20px;
    position: relative;
 
}

.text-1 
{
    width: 327px;
    height: 72px;
    margin: auto ;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
}
.text-2
{
    width: 227px;
    height: 82px;
    margin: auto ;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
}
button{
    width: 201px;
    height: 49px;
    margin: auto;
    display: block;
    background: #ED6755;
    color: #fff;
    border-radius: 5px;
   
    font-size: 16px;
   
    box-shadow: 0px 6px 35px 0 #b4b4b4a1;
    
}
.imagen-principal-1{
    width: 140px;
    height: 100px;
    margin: 63px auto 19px;
}


.imagen-principal-2{
    width: 140px;
    height: auto;
    margin: 63px auto 19px;
}

.imagen1{
    width: 100%;
    height: auto;

}
.imagen2{
    margin: 100%;
    height: auto;
    
}
